*{
    margin: 0;
    padding: 0;
}

:root{
    --card-width:115px;
    --card-height:180px;
    --card-number:6;
}


#main{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#garena{
    margin-top:60px ;
    display: flex;
    width: 700px;
    height: 530px;
   /*background-color: cadetblue;*/
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    border: 1px solid ;
}

#en-pos{
    width: calc( var(--card-width) * var(--card-number) + 40px);
    height: calc(var(--card-height) + 50px);
   /* background-color: black;*/
   border: 1px solid ;
   display: flex;
   margin-bottom: 20px;
}

#fd-pos{
    width: calc( var(--card-width) * var(--card-number) + 40px);
    height: calc(var(--card-height) + 50px);

    /* background-color: white; */
    border: 1px solid ;
    display: flex;
    margin-top: 20px;


}

.card-slot{
    width: var(--card-width);
    height: var(--card-height);
    margin: 20px auto;
    border: 1px solid ;
    position: relative;
    
}


.py-pn{
    display: flex;
}

.py-pn .b-atk{
    width: 80px;
    height: 30px;
    margin: 10px;
}

.py-pn .n-round{
    width: 80px;
    height: 30px;
    margin: 10px;
}


.role-hp{
    
    width: 60px;
    height: 30px;
    text-align: center;
    margin: 5px;
    padding: 5px;
}
.role-hp p{

    font-size: 25px;
    background-color: red;
    color: aliceblue;
    padding: 0px 10px;
}

#hand{
    display: flex;
    flex-flow: wrap;
    width: 600px;
    height: 200px;
    margin: 10px;
    background-color: #dddddd;
}


#hand .card:hover{
    transform: scale(115%);
}




.coin{
    display: flex;
    align-items: center;
    position: relative;
    margin-left:10px ;
}

.coin span.num{
    font-size: 25px;
    color: #bbbbbb;
    padding: 0 2px;
    z-index:1;
}
.coin span.bar{
    background-color:green;
    font-size: 30px;
    padding: 0 0px;
    position: absolute;
    z-index: 0;
}
.deck{
    float: right;
    display: flex;
    align-items: center;
    margin-left:40px ;
}
.deck span{
    font-size: 25px;
}


#aaa{
    display: flex;
    width: 600px;
    height: 200px;
    margin: 10px;
    background-color: #dddddd;
}
